.waiting {
    white-space: pre-line;
    margin: 0 auto;
    text-align: center;
}

/* .url-copy-wrapper {
    display: inline;
    margin-top: 5px;
    border-style: solid;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 50%
}

.copy-button {
    display: inline-block;
    margin-left: 5px;
} */